snippet head "File Header" b
/*
 * =============================================================================
 *
 *          File:  `!p snip.rv = fn`
 *
 *   Description:  ${2:${VISUAL}}
 *
 *        Author:  ${3:`git config --get user.user`}
 *       Created:  `date '+%d.%m.%Y %H:%M'`
 *
 * =============================================================================
 */

${0}
endsnippet

